# 最初に全てを無視リストに入れる
/*

# git管理するやつ
!/README.md
!/setup.sh
!/bash-setup.bash
!/.gitconfig
!/.gitignore
!/.bashrc
!/.bash_profile
!/.emacs.d
!/.vimrc
!/.gvimrc
!/.vim
!/.zsh
!/.zshenv
!/.zshrc
!/.zprofile
!/.zshlib/
!/.tmux.conf
!/.globalrc
!/.xvimrc
!/.gemrc
!/.pryrc
!/.tigrc
!/.gitignore_global
!/.rubocop.yml
!/.atom
!/.spacemacs
!/.jruby_art
!/fish
!/powerline
!/.bash
!/.scss-lint.yml

# git管理フォルダで更に無視するやつを指定
.DS_Store
*~
\#*#
