[core]
	excludesfile = ~/.gitignore_global
	precomposeunicode = true
	quotepath = false
	editor = vim -c \"set fenc=utf-8\"
[user]
	name = Hirofumi Wakasugi
	email = baenej@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
	pbcopy = !printf "$1" | pbcopy
	delete-merged-branches = "!f () { git checkout $1; git branch --merged|egrep -v '\\*|develop|master'|xargs git branch -d; };f"
[log]
	date = iso
[fetch]
	prune = true
[push]
	default = simple
[diff]
	tool = Kaleidoscope
[merge]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool]
	prompt = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[ghq]
	root = ~/Ghq
[tig "bind"]
	main = C !@git pbcopy %(commit)
[rebase]
	autostash = true
