[submodule "zshrc"]
	path = zshrc
	url = git@github.com:5t111111/zshrc.git
[submodule "vimrc"]
	path = vimrc
	url = git@github.com:yochiyochirb/vimrc.git
[submodule "fish-config"]
	path = fish-config
	url = git@github.com:5t111111/private-fish-config.git
