/*

!/vimrc
!/zshrc
!/vscode
!/README.md
!/setup.bash
!/bash-setup.bash
!/.gitconfig
!/.gitignore
!/.bashrc
!/.bash_profile
!/.gvimrc
!/.tmux
!/.tmux.conf.local
!/.globalrc
!/.xvimrc
!/.tigrc
!/.gitignore_global
!/spacemacs
!/.spacemacs
!/fish
!/.bash
!/.ideavimrc

.DS_Store
*~
\#*#
