# 最初に全てを無視リストに入れる
/*

# git管理するやつ
!/README.md
!/.gitignore
!/.bashrc
!/.bash_profile
!/.emacs.d
!/.vimrc
!/.gvimrc
!/.vim
!/.zshrc
!/.tmux.conf
!/.globalrc
!/.xvimrc
!/.gemrc
!/.pryrc
!/.gitignore_global

# git管理フォルダで更に無視するやつを指定
.DS_Store
*~
\#*#
