"*":
  core:
    packagesWithKeymapsDisabled: [
      "term3"
      "git-blame"
    ]
  editor: {}
  "exception-reporting":
    userId: "edddb662-6b8c-b055-201c-a48bbe8f28b6"
  "git-projects":
    rootPath: "/Users/hirofumiwakasugi/.ghq"
    showGitInfo: false
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "ruby-test":
    minitestAllCommand: "bin/rails test"
    minitestFileCommand: "bin/rails test {relative_path}"
    minitestSingleCommand: "bin/rails test {relative_path}:{line_number}"
    shell: "zsh"
    specFramework: "minitest"
    testFramework: "minitest"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  welcome:
    showOnStartup: false
