"*":
  "activate-power-mode":
    autoToggle: false
    particles: {}
    screenShake: {}
  "atom-beautify":
    general:
      analytics: false
    html:
      indent_size: 2
    js:
      indent_size: 2
    json:
      indent_size: 2
      unescape_strings: true
  core:
    disabledPackages: [
      "metrics"
    ]
    packagesWithKeymapsDisabled: [
      "term3"
      "git-blame"
      "activate-power-mode"
    ]
    themes: [
      "vanian-ui"
      "vanian-syntax"
    ]
  editor:
    fontFamily: "\"Source Han Code JP\""
    fontSize: 13
    lineHeight: 1.8
  "exception-reporting":
    userId: "edddb662-6b8c-b055-201c-a48bbe8f28b6"
  "git-projects":
    rootPath: "/Users/hirofumiwakasugi/.ghq"
    showGitInfo: false
  minimap:
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "open-recent":
    maxRecentFiles: 20
  "recent-files-fuzzy-finder":
    restoreSession: true
  "ruby-test":
    minitestAllCommand: "bin/rails test"
    minitestFileCommand: "bin/rails test {relative_path}"
    minitestSingleCommand: "bin/rails test {relative_path}:{line_number}"
    shell: "zsh"
    specFramework: "minitest"
    testFramework: "minitest"
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    syncHorizontalScroll: true
  "tidy-markdown":
    ensureFirstHeaderIsH1: false
    runOnSave: false
  try:
    root: "/tmp/try"
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
  zentabs:
    neverCloseUnsaved: true
